In [5]:
alumnos = [
    'ADRIAN', 
    'AITOR', 
    'EMILIO', 
    'FRANCISCO CASTRO',
    'FRANCISCO GARCIA', 
    'GIULIANO', 
    'GUILLERMO', 
    'ISRAEL',
    'LUIS', 
    'PATRICIA']

import pandas as pd

df = pd.DataFrame(
    alumnos, columns = ['NOMBRE'])
df = df.sample(frac = 1).reset_index(drop = True)
df["TURNO"] = df.index + 1
df = df.set_index("NOMBRE")
df

                  TURNO
NOMBRE
EMILIO                1
FRANCISCO GARCIA      2
ADRIAN                3
FRANCISCO CASTRO      4
PATRICIA              5
LUIS                  6
GUILLERMO             7
AITOR                 8
GIULIANO              9
ISRAEL               10