In [40]:
import requests
import pandas as pd
import time

In [41]:
api_key = "f275aa333c628e5a702c7d4f1fce6cdb"

cities_dict = {
    "PAT": ["Mieres", "ES"],
    "FRAN": ["Sevilla", "ES"],
    "AITOR": ["Zarautz", "ES"],
    "ISRA": ["Barcelona", "ES"],
    "GUS": ["Madrid", "ES"]
}

In [50]:
data_df = pd.DataFrame()

coords_dict = {}
for k, v in cities_dict.items():
    #print(k, v[0])
    URL = "https://api.openweathermap.org/data/2.5/weather?q={0},{1}&appid={2}" \
        .format(v[0], v[1], api_key)
    response = requests.get(url = URL)
    data = response.json()
    coords_dict[k] = [
        data["coord"]["lon"], 
        data["coord"]["lat"]]

while 1:

    measures_dict = {}
    for k, v in coords_dict.items():
        #print(k, v[0])
        URL = "https://api.openweathermap.org/data/2.5/weather?lat={1}&lon={0}&appid={2}&units=metric" \
            .format(v[0], v[1], api_key)
        PARAMS = {}
        response = requests.get(url = URL, params = PARAMS)
        data = response.json()
        measures_dict[cities_dict[k][0]] = \
            [data["dt"], data["main"]["temp"], 
            data["main"]["pressure"], 
            data["main"]["humidity"]]

    x = pd.DataFrame(measures_dict).T
    x = x.rename(
        columns = {
            0: "timestamp",
            1: "temp", 
            2: "pressure", 
            3: "humidity"})
    x["pressure"] = x["pressure"].astype("int")
    x["humidity"] = x["humidity"].astype("int")    
    x["timestamp"] = x["timestamp"].astype("int") 
    x["datetime"] = pd.to_datetime(x['timestamp'], unit = 's')   
    #print(x)
    data_df = pd.concat([data_df, x])
    time.sleep(60)
#x = x.set_index([x.index, "datetime"])

KeyboardInterrupt:

In [51]:
data_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 50 entries, Mieres to Madrid
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   timestamp  50 non-null     int64
 1   temp       50 non-null     float64
 2   pressure   50 non-null     int64
 3   humidity   50 non-null     int64
 4   datetime   50 non-null     datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(3)
memory usage: 2.3+ KB

In [52]:
data_df.head()

            timestamp   temp  pressure  humidity            datetime
Mieres     1654340409  15.52      1016        64 2022-06-04 11:00:09
Sevilla    1654340482  23.28      1016        53 2022-06-04 11:01:22
Zarautz    1654340584  19.19      1016        80 2022-06-04 11:03:04
Barcelona  1654340551  25.47      1014        69 2022-06-04 11:02:31
Madrid     1654341008  23.29      1004        43 2022-06-04 11:10:08

In [53]:
data_df["timestamp"].nunique()

14

In [54]:
data_df.drop_duplicates()

            timestamp   temp  pressure  humidity            datetime
Mieres     1654340409  15.52      1016        64 2022-06-04 11:00:09
Sevilla    1654340482  23.28      1016        53 2022-06-04 11:01:22
Zarautz    1654340584  19.19      1016        80 2022-06-04 11:03:04
Barcelona  1654340551  25.47      1014        69 2022-06-04 11:02:31
Madrid     1654341008  23.29      1004        43 2022-06-04 11:10:08
Mieres     1654341068  15.42      1016        64 2022-06-04 11:11:08
Sevilla    1654340784  23.30      1017        54 2022-06-04 11:06:24
Zarautz    1654340783  19.30      1016        80 2022-06-04 11:06:23
Mieres     1654341066  15.42      1016        64 2022-06-04 11:11:06
Barcelona  1654341424  25.64      1013        69 2022-06-04 11:17:04
Sevilla    1654341549  23.61      1016        53 2022-06-04 11:19:09
Zarautz    1654341234  19.19      1016        80 2022-06-04 11:13:54
Barcelona  1654341420  25.64      1013        69 2022-06-04 11:17:00
Madrid     1654341302  23.20      1017        42 2022-06-04 11:15:02

In [62]:
data_df.drop_duplicates().loc["Mieres"]

         timestamp   temp  pressure  humidity            datetime
Mieres  1654340409  15.52      1016        64 2022-06-04 11:00:09
Mieres  1654341068  15.42      1016        64 2022-06-04 11:11:08
Mieres  1654341066  15.42      1016        64 2022-06-04 11:11:06

In [60]:
data_df.drop_duplicates().loc["Mieres"]["temp"].unique()

array([15.52, 15.42])